
@{
    ViewBag.Title = "Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css" rel="stylesheet">
</head>

<style>
    @@keyframes nothing {

    }

    @@keyframes rotate-one {
        100% {
            transform: rotate(21.6deg);
        }
    }

    @@keyframes rotate-two {
        0% {
            transform: rotate(21.6deg);
        }

        100% {
            transform: rotate(79.2deg);
        }
    }

    @@keyframes rotate-three {
        0% {
            transform: rotate(79.2deg);
        }

        100% {
            transform: rotate(140.4deg);
        }
    }

    @@keyframes rotate-four {
        0% {
            transform: rotate(140.4deg);
        }

        100% {
            transform: rotate(160deg);
        }
    }

    @@keyframes rotate-five {
        0% {
            transform: rotate(160deg);
        }

        100% {
            transform: rotate(180deg);
        }
    }



    @@keyframes fade-in {
        0%, 90% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
</style>

<body>
    <div class="row" style="position:relative;">
        <div class="column-search">
            <div class="searchfunction">
                <h3 class="textContent" id="" style="text-align:center">Check danger rating:</h3>
                <input id="search" class="form-control" placeholder="Enter Suburb Name" style="position:absolute;float:left;padding:10px;left:38%;margin-left:auto;margin-right:auto;width:fit-content()">
                <div id="button-div" style="position:absolute; float:left;height: auto;width:auto;left:57%">
                    <button class="btn btn-primary btn-lg" onclick="newfunction();myfunction()" style="margin-left:auto; margin-right: auto;width:auto">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="mapTitleSection">
        <div class="row">
            <div class="column">
                <h1 id="Title"> Fire Danger Rating </h1>
                <div class="container-fluid">
                    <div class="mainrating">
                        <div class="fire_danger_rating">
                            <ul class="chart-skills">
                                <li id="li1">
                                    <span id="span1">Low</span>
                                </li>
                                <li id="li2">
                                    <span id="span2">Medium</span>
                                </li>
                                <li id="li3">
                                    <span id="span3">High</span>
                                </li>
                                <li id="li4">
                                    <span id="span4">Very High</span>
                                </li>
                                <li id="li5">
                                    <span id="span5"> Extreme </span>
                                </li>
                            </ul>
                            <p id="firedanger_00" style="font-size:large;text-align:center;font-family:'Arial Rounded MT';color:white;padding-top:5%;"> Check Bush Fire Danger at your location </p>
                            <p id="firedanger_01" style="text-align:justify;font-family:'Arial Rounded MT';color:white;padding-top:3px;padding-left:18%">
                            </p>
                            <p id="firedanger_02" style="text-align:center;font-family:'Arial Rounded MT';color:white">
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <h1 id="Title"> What it means for you? </h1>
                <h6 style="padding-top:2%;padding-left:-5%"> click on links below for plan of action </h6>
                <p id="firedanger_01" style="text-align:justify;font-family:'Arial Rounded MT';color:white;padding-top:33px;padding-left:22%">
                    <span style="color:red"> Very High </span> &nbsp;&nbsp; <a href="@Url.Action("DangerPlan", "Home")"> Your region is severely prone to bush fire. </a> <br>
                    <span style="color:orange"> High </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="@Url.Action("DangerPlan", "Home")">
    Hazardous proximity to a severely prone region. </a> <br>
    <span style="color:yellow"> Medium </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="@Url.Action("DangerPlan", "Home")">
    Check air quality index before you go outside </a><br>
    <span style="color:green"> Low </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="@Url.Action("DangerPlan", "Home")"> Dont worry! you are safe. </a>
</p>
            </div>
        </div>
    </div>


    <div class="ratingSection">

        <div class="subrating">
            <button class="collapsible">
               <b><i> Click here to Check Forecast for the coming week </i></b>
            </button>

            <div class="content" style="
                 position: relative;">
                <div class="column-week">
                    <div class="row-week1">
                        <div class="sub1">
                            <div class="fire_danger_rating">
                                <ul class="chart-skills">
                                    <li id="li1_1">
                                        <span id="span1"></span>
                                    </li>
                                    <li id="li2_1">
                                        <span id="span2"></span>
                                    </li>
                                    <li id="li3_1">
                                        <span id="span3"></span>
                                    </li>
                                    <li id="li4_1">
                                        <span id="span4"></span>
                                    </li>
                                    <li id="li5_1">
                                        <span id="span5"></span>
                                    </li>
                                </ul>
                                <p id="firedanger_10" style="color: #4a4233; text-align: center; margin-top: 10px; font-family: 'Arial Rounded MT'"></p>
                                <p id="firedanger_11" style="color: #4a4233; text-align: center; margin-top: 20px; font-family: 'Arial Rounded MT'">@DateTime.Now.AddDays(1).DayOfWeek : @DateTime.Now.AddDays(1).ToString("MM-dd")</p>
                                <p id="firedanger_12" style="color: #4a4233; text-align: center; font-family: 'Arial Rounded MT';"></p>
                            </div>
                        </div>
                    </div>

                    <div class="row-week2">
                        <div class="sub2">
                            <div class="fire_danger_rating">
                                <ul class="chart-skills">
                                    <li id="li1_2">
                                        <span id="span1"></span>
                                    </li>
                                    <li id="li2_2">
                                        <span id="span2"></span>
                                    </li>
                                    <li id="li3_2">
                                        <span id="span3"></span>
                                    </li>
                                    <li id="li4_2">
                                        <span id="span4"></span>
                                    </li>
                                    <li id="li5_2">
                                        <span id="span5"></span>
                                    </li>
                                </ul>
                                <p id="firedanger_20" style="color: #4a4233; text-align: center; margin-top: 10px; font-family: 'Arial Rounded MT'"></p>
                                <p id="firedanger_21" style="color: #4a4233; text-align: center; margin-top: 20px; font-family: 'Arial Rounded MT'">@DateTime.Now.AddDays(2).DayOfWeek : @DateTime.Now.AddDays(2).ToString("MM-dd")</p>
                                <p id="firedanger_22" style="color: #4a4233; text-align: center; font-family: 'Arial Rounded MT'"></p>
                            </div>
                        </div>
                    </div>

                    <div class="row-week3">
                        <div class="sub3">
                            <div class="fire_danger_rating">
                                <ul class="chart-skills">
                                    <li id="li1_3">
                                        <span id="span1"></span>
                                    </li>
                                    <li id="li2_3">
                                        <span id="span2"></span>
                                    </li>
                                    <li id="li3_3">
                                        <span id="span3"></span>
                                    </li>
                                    <li id="li4_3">
                                        <span id="span4"></span>
                                    </li>
                                    <li id="li5_3">
                                        <span id="span5"></span>
                                    </li>
                                </ul>
                            </div>
                            <p id="firedanger_30" style="color: #4a4233; text-align: center; margin-top: 10px; font-family: 'Arial Rounded MT'"></p>
                            <p id="firedanger_30" style="color: #4a4233; text-align: center; margin-top: 20px; font-family: 'Arial Rounded MT'">@DateTime.Now.AddDays(3).DayOfWeek : @DateTime.Now.AddDays(3).ToString("MM-dd")</p>
                            <p id="firedanger_32" style="color: #4a4233; text-align: center; font-family: 'Arial Rounded MT'"></p>
                        </div>
                    </div>
                    <div class="row-week4">
                        <div class="sub4">
                            <div class="fire_danger_rating">
                                <ul class="chart-skills">
                                    <li id="li1_4">
                                        <span id="span1"></span>
                                    </li>
                                    <li id="li2_4">
                                        <span id="span2"></span>
                                    </li>
                                    <li id="li3_4">
                                        <span id="span3"></span>
                                    </li>
                                    <li id="li4_4">
                                        <span id="span4"></span>
                                    </li>
                                    <li id="li5_4">
                                        <span id="span5"></span>
                                    </li>
                                </ul>
                                <p id="firedanger_40" style="color: #4a4233; text-align: center; margin-top: 10px; font-family: 'Arial Rounded MT'"></p>
                                <p id="firedanger_41" style="color: #4a4233; text-align: center; margin-top: 20px; font-family: 'Arial Rounded MT'">@DateTime.Now.AddDays(4).DayOfWeek : @DateTime.Now.AddDays(4).ToString("MM-dd")</p>
                                <p id="firedanger_42" style="color: #4a4233; text-align: center; font-family: 'Arial Rounded MT'"></p>
                            </div>
                        </div>
                    </div>

                    <div class="row-week5">
                        <div class="sub5">
                            <div class="fire_danger_rating">
                                <ul class="chart-skills">
                                    <li id="li1_5">
                                        <span id="span1"></span>
                                    </li>
                                    <li id="li2_5">
                                        <span id="span2"></span>
                                    </li>
                                    <li id="li3_5">
                                        <span id="span3"></span>
                                    </li>
                                    <li id="li4_5">
                                        <span id="span4"></span>
                                    </li>
                                    <li id="li5_5">
                                        <span id="span5"></span>
                                    </li>
                                </ul>
                                <p id="firedanger_50" style="        text-align: center;
        margin-top: 10px;
        font-family: 'Arial Rounded MT';
        color: #4a4233
"></p>
                                <p id="firedanger_51" style="        text-align: center;
        margin-top: 20px;
        font-family: 'Arial Rounded MT';
        color: #4a4233
">@DateTime.Now.AddDays(5).DayOfWeek : @DateTime.Now.AddDays(5).ToString("MM-dd")</p>
<p id="firedanger_52" style="        text-align: center;
        font-family: 'Arial Rounded MT';
        color: #4a4233
"></p>
</div>
</div>
</div>

</div>
</div>
</div>
</div>

<div class="column-map">
    <div class="heatMapTitle">
        <h1> Fire Prone Area Map </h1>
    </div>
</div>


<div id="map" style="width:92%; height: 500px;left:4%"></div>

<div class="map_legend" style="width: 100%">
    <h4 style="float:left;width:33%;padding:5px;text-align:left;">
        <span style="color: red">DANGER </span>
    </h4>
    <h4 style="float:left;width:33%;padding:5px;text-align:center;">
        <span style="color: orange">
            HIGH -
            <span style="color: yellow"> MEDIUM </span>
        </span>
    </h4>
    <h4 style="float:left;width:33%;text-align:right;">
        <span style="color: green"> SAFE </span>
    </h4>
    <img class="color_legend" style="width:100%;max-height:3px" src="~/Image/gradient-legend_009.png">
</div>

<div class="nav-option" style="text-align:center">
    <div class="row">
        <div class="column-last" style="        background-color: #3e290c;
        color: #dedbd5;
        padding: 20px;">
            <div class="circle-box" id="fire_nav">
                <div class="card-fireDanger" id="segueStats" style="margin:20px;position:relative">

                </div>
                <div style="text-align:center;">
                    <h3><b id="refugeeStats" style="padding:10px;"> FIRE DANGER RATING </b></h3>
                </div>
            </div>

            <div class="circle-box" id="safety_nav">
                <div class="card-plan" id="segueSports" style="margin:20px;position:relative">
                </div>
                <div style="text-align:center;">
                    <h3><b id="findSports" style="padding: 10px;"> SAFETY PLAN </b></h3>
                </div>
            </div>

            <div class="circle-box" id="emergency_nav">
                <div class="card-ec" id="segueEmergency" style="margin:20px;position:relative">

                </div>
                <div style="text-align:center;">
                    <h3><b id="emergency" style="padding: 10px;"> EMERGENCY CONTACT </b></h3>
                </div>
            </div>




        </div>
    </div>
</div>

<script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js"></script>
<script src="~/Scripts/Map.js"></script>

</body>
